*{margin: 0px;
padding: 0px;
box-sizing: border-box;}
/* DIV CONTENEDOR */
#main{background:darkcyan}

/*HEADER -TÍTULO*/

#title{text-align:center;
height:100px;
position:relative;}
#title h1{padding:50px;
font-size:55px;
font-family: 'Francois One', sans-serif;}
h3{text-align:center;
padding: 30px;
font-family: 'Open Sans', sans-serif;}

/*IMAGEN*/
#img-div{margin:auto;
  width:80%;
  text-align:center;
  background:white;}

/*SECTION*/
#tribute-info{padding: 50px;
  font-family: 'Open Sans', sans-serif;}
section{margin:auto;
  width:80%;
  text-align:center;
  font-family: 'Open Sans', sans-serif;}
  ul li{ padding-bottom: 30px;}
.Maradona{border: 1px solid black;
padding:10px;}
